@page "/"
@using CarrierConstruct.Blazor.Components

<MudContainer>
    <MudText Typo="Typo.h4">Air Ops</MudText>

    <FlightDeckComponent @ref="flightDeckComponent"
                         OnAircraftOrderedToHangar="ProcessAircraftTransferRequest"/>
    
    <MudDivider Class="my-4" />

    <div class="d-flex">
        @foreach (var elevator in aircraftElevators)
        {
            <MudPaper Class="pa-6 ma-6 justify-center" Elevation="3">
                
                @*<MudPaper Height="40px;">
                    @if (elevator.isLoading)
                    {
                        <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7"/>
                        <MudText Typo="Typo.caption">@elevator.StatusMessage</MudText>
                    }
                </MudPaper> *@

                <MudText Typo="Typo.subtitle2">Elevator @elevator.ElevatorNumber</MudText>
                <div class="d-flex">
                    <MudText Typo="Typo.subtitle2">Location:</MudText>
                    <MudText Typo="Typo.body1">@elevator.Location</MudText>
                </div>
                <MudText Typo="Typo.subtitle2">Aircraft:</MudText>
                @if (elevator.AircraftOnElevator == null)
                {
                    <MudText Typo="Typo.body1">None</MudText>
                }
                else
                {
                    @foreach (var aircraft in elevator.AircraftOnElevator)
                    {
                        <MudText Typo="Typo.body1">@aircraft.Name</MudText>
                        <MudText Typo="Typo.body1">@aircraft.Modex</MudText>
                    }
                }

                <MudText Typo="Typo.subtitle2">Assigned Serials:</MudText>
                @foreach (var serial in elevator.OrderedAircraftSerials)
                {
                    <MudText Typo="Typo.body1">@serial</MudText>
                }

            </MudPaper>
        }
    </div>
        
    <MudDivider Class="my-4" />

    <HangarComponent @ref="hangarComponent" 
                     OnAircraftOrderedToFlightDeck="ProcessAircraftTransferRequest"/>
        
           
</MudContainer>


