@page "/"
@using CarrierConstruct.Blazor.Components

    <p class="cc-h1">Air Ops</p>

    <FlightDeckComponent @ref="flightDeckComponent"
                         OnAircraftOrderedToHangar="ProcessAircraftTransferRequest"/>
    
    <hr />

    <div class="cc-elevator-container">
        @foreach (var elevator in aircraftElevators)
        {
            <div class="cc-elevator-card">
                
                @*<MudPaper Height="40px;">
                    @if (elevator.isLoading)
                    {
                        <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7"/>
                        <MudText Typo="Typo.caption">@elevator.StatusMessage</MudText>
                    }
                </MudPaper> *@

                <p>Elevator @elevator.ElevatorNumber</p>
                <div>
                    <p>Location:</p>
                    <p>@elevator.Location</p>
                </div>
                <p>Aircraft:</p>
                @if (elevator.AircraftOnElevator == null)
                {
                    <p>None</p>
                }
                else
                {
                    @foreach (var aircraft in elevator.AircraftOnElevator)
                    {
                        <p>@aircraft.Name</p>
                        <p>@aircraft.Modex</p>
                    }
                }

                <p>Assigned Serials:</p>
                @foreach (var serial in elevator.OrderedAircraftSerials)
                {
                    <p>@serial</p>
                }

            </div>
        }
    </div>
        
    <hr />

    <HangarComponent @ref="hangarComponent" 
                     OnAircraftOrderedToFlightDeck="ProcessAircraftTransferRequest"/>
        
           


