@using CarrierConstruct.Blazor.Interfaces

@*<button @onclick="HandleClick" class="cc-aircraft-card">*@
<button class="cc-aircraft-chip" 
        @onclick="HandleChipClick" 
        @onmouseover="HandleChipHover">
        
    @if (IsSelected)
    {
        <div class="cc-chip-selected">
            <div>@Aircraft.Designation</div>
            <div>@Aircraft.Modex</div>
        </div>
    }
    else
    {
        <div>
            <div>@Aircraft.Designation</div>
            <div>@Aircraft.Modex</div>
        </div>
    }


    @*@if (IsSelected)
        {
            <div class="cc-lr-box cc-header-selected">
                <p>@Aircraft.Designation @Aircraft.Name</p>
                <p>@Aircraft.Role</p>
            </div>
        }
        else
        {
            <div class="cc-lr-box cc-header-deselected">
                <p>@Aircraft.Designation @Aircraft.Name</p>
                <p>@Aircraft.Role</p>
            </div>
        }

        <div>
            <p>[ SQUADRON ] @Aircraft.Modex</p>
            <p>Serial: @Aircraft.Serial</p>
        </div>*@
        
    </button>
@*</button>*@

@code {
    [Parameter]
    public IAircraft Aircraft { get; set; }

    [Parameter]
    public bool ClickDisabled { get; set; }

    [Parameter]
    public bool IsSelected {get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnAircraftChipClicked { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnAircraftChipHover { get; set; }

    public void HandleChipClick()
    {
        OnAircraftChipClicked.InvokeAsync();
    }

    public void HandleChipHover()
    {
        OnAircraftChipHover.InvokeAsync();
    }
}
