@using CarrierConstruct.Blazor.Interfaces

<button @onclick="HandleClick" class="cc-aircraft-card">
        
        @if (IsSelected)
        {
            <div>
                @*<MudIcon Icon="@Icons.Material.Filled.CheckCircle" Title="Favorite" Class="mr-2"/>*@
                <p>@Aircraft.Designation @Aircraft.Name</p>
                <p>@Aircraft.Role</p>
            </div>
        }
        else
        {
            <div>
                @*<MudIcon Icon="@Icons.Material.Filled.Circle" Title="Favorite" Class="mr-2"/>*@
                <p>@Aircraft.Designation @Aircraft.Name</p>
                <p>@Aircraft.Role</p>
            </div>
        }

        <div>
            <p>[ SQUADRON ] @Aircraft.Modex</p>
            <p>Serial: @Aircraft.Serial</p>
        </div>
        
        @*TODO: Implement aircraft status*@
        @*<MudText Typo="Typo.caption">Status: @Aircraft.Status</MudText>*@

</button>

@code {
    [Parameter]
    public IAircraft Aircraft { get; set; }

    [Parameter]
    public bool ClickDisabled { get; set; }

    [Parameter]
    public bool IsSelected {get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnAircraftCardClicked { get; set; }

    public void HandleClick()
    {
        OnAircraftCardClicked.InvokeAsync();
    }
}
